# Apache License 2.0

# Operating Systems

## Mac OS

**/.DS_Store

# Editors

## Visual Studio Code

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json

### Local History for Visual Studio Code
.history/

### Built Visual Studio Code Extensions
*.vsix

## Sublime Text

*.sublime-workspace
*.sublime-project

# Project

## Common

!.gitignore
!.gitkeep

## Binaries

bin/*
lib/*
build/
*.so*
*.a
*.exe*
*.rpm*
packages/
coverage/

## Documentation

docs/html/
docs/latex/

## Misc.

tmp/
__pycache__
.ipynb_checkpoints
.open-space-toolkit

